@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
    --rb-accent: oklch(20.5% 0 0);
    --rb-accent-fg: oklch(100% 0 0);
    --rb-radius: 10px;
    --rb-r-xs: max(0px, calc(var(--rb-radius) - 6px));
    --rb-r-sm: max(0px, calc(var(--rb-radius) - 4px));
    --rb-r-md: max(0px, calc(var(--rb-radius) - 2px));
    --rb-r-lg: var(--rb-radius);
    --rb-r-xl: calc(var(--rb-radius) + min(2px, var(--rb-radius)));
    --rb-r-2xl: calc(var(--rb-radius) + min(4px, var(--rb-radius)));
    --rb-r-3xl: calc(var(--rb-radius) + min(6px, var(--rb-radius)));
    --rb-r-4xl: calc(var(--rb-radius) + min(8px, var(--rb-radius)));
}

.dark {
    --rb-accent: oklch(100% 0 0);
    --rb-accent-fg: oklch(20.5% 0 0);
}

@theme inline {
    --color-rb-accent: var(--rb-accent);
    --color-rb-accent-fg: var(--rb-accent-fg);
    --color-rb-accent: var(----rb-accent);
    --color-rb-accent-fg: var(----rb-accent-fg);
}